# Pennsylvania state 2017 employee salaries Pandas analysis #

By Natasha Khan and Dale Shoemaker

A Python Pandas analysis conducted for PublicSource's data quiz [Explore Pennsylvania state 2017 employee salaries](https://www.publicsource.org). 

The data was obtained from the Pennsylvania Office of Administration.

In [7]:
import pandas as pd

### Loads data into pandas â¬‡  ###

In [8]:
pd.read_csv('https://projects.publicsource.org/2018_statesalaries/state_data.csv')

,agency,last_name,first_name,middle_name,job_name,original_hire_dt,incumbent_entered_pos,separation_dt,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017
0,Aging,Laudenslager,Kathy,A,Acct 3,5/28/97,7/26/14,NaN,NaN,63785.0,62893.52,NaN,NaN
1,Aging,McDaniel,Megan,C.,Admv Asst 1,3/7/05,7/12/14,NaN,NaN,41956.0,41370.77,NaN,NaN
2,Aging,Burhannan,Rita,Gay,Admv Ofr 1,6/24/71,10/24/15,NaN,NaN,43775.0,43162.50,NaN,NaN
3,Aging,Rhodes,Janis,L,Admv Ofr 1,8/2/93,5/18/13,NaN,NaN,54690.0,53923.88,NaN,NaN
4,Aging,Schell,Trudy,L,Admv Ofr 1,9/29/75,7/21/07,NaN,NaN,45829.0,45188.26,NaN,NaN
5,Aging,Allen,Ronald,R,Admv Ofr 2,4/20/77,11/15/97,NaN,NaN,72822.0,71804.63,NaN,NaN
6,Aging,Fox,Abby,J,Admv Ofr 2,8/23/04,10/10/15,NaN,NaN,54690.0,64005.31,NaN,NaN
7,Aging,Lorah,Rebecca,D.,Admv Ofr 3,1/3/05,11/16/13,NaN,NaN,58465.0,57643.89,NaN,NaN
8,Aging,Paulus,Rose,M,Admv Ofr 4,4/18/83,7/27/13,NaN,NaN,94846.0,93522.39,NaN,NaN
9,Aging,Horner,Steven,B,Admv Ofr 5,6/12/90,11/12/16,NaN,NaN,105898.0,104420.25,NaN,NaN
10,Aging,Beers-Franklin,Tamea,Lynn,Aging Srvs Spcst,2/18/03,7/29/17,NaN,NaN,61066.0,60215.63,NaN,NaN
11,Aging,Bennett,Lindsey,Rae,Aging Srvs Spcst,6/27/16,9/16/17,NaN,NaN,54690.0,53923.88,NaN,NaN
12,Aging,Cenname,Anna Marie,E,Aging Srvs Spcst,1/8/96,NaN,4/1/17,NaN,72998.0,22392.00,NaN,50749.98
13,Aging,Cherry,Robert,John,Aging Srvs Spcst,11/8/10,9/10/16,NaN,NaN,55844.0,55063.52,NaN,NaN
14,Aging,Claroni,Rocco,L,Aging Srvs Spcst,5/20/82,10/10/17,NaN,27.96,NaN,28356.45,NaN,21110.16
15,Aging,Cree,Susan,Elaine,Aging Srvs Spcst,12/5/86,3/15/14,NaN,NaN,69653.0,68678.27,NaN,NaN
16,Aging,Deppen,Barbara,G,Aging Srvs Spcst,5/26/98,1/3/15,NaN,NaN,57174.0,56378.64,NaN,NaN
17,Aging,Dunston,Troy,D,Aging Srvs Spcst,11/20/92,5/6/17,NaN,NaN,71218.0,70227.38,NaN,NaN
18,Aging,Ehrhart,Dana,M,Aging Srvs Spcst,1/2/01,7/12/08,NaN,NaN,61066.0,54616.05,NaN,NaN
19,Aging,Gerber,Beth,Anne,Aging Srvs Spcst,3/3/14,3/3/14,NaN,NaN,55844.0,55063.51,NaN,NaN
20,Aging,Glidden,Michelle,S,Aging Srvs Spcst,5/24/04,4/29/17,NaN,NaN,62455.0,59598.39,NaN,NaN
21,Aging,Hollywood,Trula,NaN,Aging Srvs Spcst,12/15/08,6/16/14,NaN,NaN,55844.0,55063.51,NaN,NaN
22,Aging,Kell,Veronica,Lynne,Aging Srvs Spcst,12/6/10,8/26/17,NaN,NaN,54690.0,49735.50,NaN,NaN
23,Aging,Kyle,Katrina,K.,Aging Srvs Spcst,12/10/07,10/3/15,NaN,NaN,58465.0,57643.89,NaN,NaN
24,Aging,Lomax,Dowel,E,Aging Srvs Spcst,1/24/11,9/16/17,NaN,NaN,57174.0,53813.25,NaN,NaN
25,Aging,Nguyen,Uyen,P.,Aging Srvs Spcst,7/21/08,2/22/14,NaN,NaN,58465.0,57643.89,NaN,NaN
26,Aging,Rodgers,Steven,L,Aging Srvs Spcst,7/28/14,5/28/16,NaN,NaN,55844.0,55063.52,NaN,NaN
27,Aging,Rogers,Roslyn,Sylvia,Aging Srvs Spcst,5/11/87,7/13/13,NaN,NaN,83052.0,81894.38,NaN,NaN
28,Aging,Seby,Julie,Elizabeth,Aging Srvs Spcst,7/22/02,3/1/14,NaN,NaN,57174.0,56378.64,NaN,NaN
29,Aging,Toro,Carmen,M,Aging Srvs Spcst,3/30/88,11/11/17,NaN,NaN,76069.0,75009.01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89889,Transportation,Peterson,Ross,E,Wldr,3/25/13,3/25/13,NaN,NaN,34934.0,34542.38,1518.79,NaN
89890,Transportation,Polanis,Jeffrey,F,Wldr,8/29/11,8/29/11,NaN,NaN,35580.0,35095.09,1972.79,NaN
89891,Transportation,Proctor,Jeffrey,Ray,Wldr,11/19/12,11/18/13,NaN,NaN,34210.0,34552.07,5615.56,NaN
89892,Transportation,Pyo,Anthony,John,Wldr,10/1/12,4/30/16,NaN,NaN,34210.0,34282.51,1307.97,NaN
89893,Transportation,Rowan,Joseph,P,Wldr,8/12/13,8/12/13,NaN,NaN,34210.0,34246.53,4083.25,NaN
89894,Transportation,Schwartz,David,A,Wldr,5/27/99,5/27/99,NaN,NaN,43775.0,43207.26,684.78,NaN
89895,Transportation,Seeley,John,D,Wldr,6/3/02,6/3/02,NaN,NaN,41076.0,40978.15,4860.56,NaN
89896,Transportation,Sienko,Daniel,J,Wldr,6/3/02,6/3/02,NaN,NaN,41076.0,40909.38,3411.95,NaN
89897,Transportation,Slaughter,Troy,NaN,Wldr,9/18/17,9/18/17,NaN,NaN,32841.0,7555.51,172.14,NaN
89898,Transportation,Smith,Clifford,W,Wldr,3/6/95,3/6/95,NaN,NaN,47883.0,47221.50,678.00,NaN
89899,Transportation,Sonney,Eric,August,Wldr,1/24/11,1/24/11,NaN,NaN,35580.0,36220.27,7018.70,NaN
89900,Transportation,St Clair,Scott,P,Wldr,11/15/04,7/25/05,NaN,NaN,39413.0,39473.02,1827.02,NaN
89901,Transportation,Tokay,Ronald,J,Wldr,11/20/00,11/20/00,NaN,NaN,42876.0,42984.93,7988.30,NaN
89902,Transportation,Tomko,Michael,K,Wldr,3/15/82,NaN,4/1/17,NaN,48039.0,14736.00,NaN,11539.76
89903,Transportation,Tridente,Corrado,Leonard,Wldr,10/20/14,11/15/14,NaN,NaN,33506.0,33060.33,11172.40,NaN
89904,Transportation,Vranicar,Michael,D,Wldr,11/8/99,9/19/15,NaN,NaN,41076.0,40504.15,2163.26,NaN
89905,Transportation,Wagner,Patrick,J,Wldr,12/15/14,12/15/14,NaN,NaN,33506.0,33033.80,1780.85,NaN
89906,Transportation,Weikel,Ricky,R.,Wldr,3/5/07,3/5/07,NaN,NaN,37868.0,37338.75,1752.84,NaN
89907,Transportation,Whalen,Joseph,H,Wldr,1/9/06,1/9/06,NaN,NaN,39413.0,38979.81,1693.89,NaN
89908,Transportation,Williams,Joseph,T,Wldr,4/2/01,8/4/07,NaN,NaN,41956.0,41380.29,6966.66,NaN
89909,Transportation,Withers,Jacob,Richard,Wldr,10/2/17,10/2/17,NaN,16.79,NaN,5641.49,NaN,NaN
89910,Transportation,Womer,Ethan,Daniel,Wldr,10/17/16,2/18/17,NaN,NaN,32841.0,32632.68,3063.40,NaN
89911,Transportation,Woodbury,Noah,Clifton Toy,Wldr,9/8/15,9/8/15,NaN,NaN,32841.0,32373.28,1151.67,NaN
89912,Transportation,Wyne,Gary,I,Wldr,10/4/99,8/4/07,NaN,NaN,41076.0,40504.15,259.78,NaN
89913,Transportation,Zoria,Steven,A,Wldr,2/9/04,3/17/07,NaN,NaN,40254.0,40557.48,4936.62,NaN
89914,Transportation,Bickford,Robert,E,Wstewtr Trmt Plnt Opr,1/6/14,1/6/14,NaN,NaN,34210.0,33735.76,1127.73,NaN
89915,Transportation,Eckenroth,Brandon,Michael,Wstewtr Trmt Plnt Opr,5/5/14,11/12/16,NaN,NaN,32841.0,34042.50,3599.91,NaN
89916,Transportation,Clark,Dennis,L.,Wstewtr Trmt Plnt Supv,10/15/07,10/3/15,NaN,NaN,38611.0,38082.13,7609.02,NaN
89917,Transportation,Kishbaugh,Donald,G,Wstewtr Trmt Plnt Supv,8/16/04,5/26/13,NaN,NaN,52284.0,51660.01,6606.56,NaN
89918,Transportation,Weaver,Theodore,R,Wstewtr Trmt Plnt Supv,8/8/05,1/12/13,NaN,NaN,42876.0,42291.88,3140.99,NaN

### Creates a variable to store the data so we can run analysis on it â¬‡ ###

In [9]:
statesal = pd.read_csv('https://projects.publicsource.org/2018_statesalaries/state_data.csv')

In [10]:
statesal.head()

,agency,last_name,first_name,middle_name,job_name,original_hire_dt,incumbent_entered_pos,separation_dt,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017
0,Aging,Laudenslager,Kathy,A,Acct 3,5/28/97,7/26/14,NaN,NaN,63785.0,62893.52,NaN,NaN
1,Aging,McDaniel,Megan,C.,Admv Asst 1,3/7/05,7/12/14,NaN,NaN,41956.0,41370.77,NaN,NaN
2,Aging,Burhannan,Rita,Gay,Admv Ofr 1,6/24/71,10/24/15,NaN,NaN,43775.0,43162.50,NaN,NaN
3,Aging,Rhodes,Janis,L,Admv Ofr 1,8/2/93,5/18/13,NaN,NaN,54690.0,53923.88,NaN,NaN
4,Aging,Schell,Trudy,L,Admv Ofr 1,9/29/75,7/21/07,NaN,NaN,45829.0,45188.26,NaN,NaN

### Checks what format each column is and the number of rows â¬‡ ###

In [11]:
statesal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89919 entries, 0 to 89918
Data columns (total 13 columns):
agency                   89919 non-null object
last_name                89919 non-null object
first_name               77288 non-null object
middle_name              68077 non-null object
job_name                 89919 non-null object
original_hire_dt         89919 non-null object
incumbent_entered_pos    79380 non-null object
separation_dt            10539 non-null object
hourly                   12132 non-null float64
base_salary              77785 non-null float64
actual_salary_2017       88504 non-null float64
overtime_2017            51853 non-null float64
leave_payout_2017        7851 non-null float64
dtypes: float64(5), object(8)
memory usage: 8.9+ MB

### Creates a variable to run analysis on column actual_salary_2017 from our main statesal dataset â¬‡ ###

In [12]:
actual_salary = statesal.actual_salary_2017

### Calculates total salaries Pennsylvania paid to state employees â¬‡ ###

In [13]:
actual_salary.sum()

4097021128.1000004

### Calculates overall state employee median salary â¬‡ ###

In [14]:
actual_salary.median()

44640.509999999995

### Calculates total spent by state on overtime wages â¬‡ ###

In [15]:
statesal.overtime_2017.sum()

233341250.74000004

### Shows top 5 paid state employees â¬‡ ###

In [16]:
statesal.sort_values("actual_salary_2017", ascending=False).head()

,agency,last_name,first_name,middle_name,job_name,original_hire_dt,incumbent_entered_pos,separation_dt,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017
65060,Pub School Employees' Ret Sys,Grossman,James,H,Chf Invmt Ofr Psers,3/17/97,1/13/14,NaN,NaN,407826.0,387184.88,NaN,NaN
65080,Pub School Employees' Ret Sys,Spiller,Charles,J,Dep Chf Invmt Ofr Psers,5/16/94,5/16/94,NaN,NaN,335728.0,318274.50,NaN,NaN
65079,Pub School Employees' Ret Sys,Bauer,Thomas,A.,Dep Chf Invmt Ofr Psers,4/19/16,4/19/16,NaN,NaN,335728.0,317697.38,NaN,NaN
68277,State Employees' Ret Sys,Lewis,Wilbert,Bryan,Chf Invmt Ofr Sers,7/11/16,7/11/16,NaN,NaN,286534.0,285655.50,NaN,NaN
65146,Pub School Employees' Ret Sys,Devine,Robert,J,Mgng Dir Invmt Off PSERS,6/10/91,9/29/14,NaN,NaN,271062.0,257344.13,NaN,NaN

### Shows, in descending order, what state agencies paid to employees â¬‡ ###

In [35]:
statesal.groupby("agency").actual_salary_2017.sum().reset_index().sort_values("actual_salary_2017", ascending=False).astype(str)

                            agency  actual_salary_2017
6                      Corrections   904125528.1499993
20                  Human Services   785568557.2899544
34                  Transportation   566175907.7199867
33                    State Police   467153889.2099977
22                Labor & Industry  221732465.86999726
24            Liquor Control Board   161805897.5999996
12            Environmntl Protectn   150866342.5199989
7             Dept Miltry/Vets Aff  104756516.59999971
30                         Revenue  100555142.89999996
13               Executive Offices   96304194.61000004
5             Cnsvn & Natrl Resrcs   89700038.30999969
28      Probation And Parole Board   73117959.47000006
18                          Health    56188254.5600004
16                General Services   39964335.51999999
1                      Agriculture    37320019.0600001
15                 Game Commission   34822849.16000002
9                        Education  30433738.999999985
31                           State  26944304.530000016
29   Pub School Employees' Ret Sys   21345666.74000001
4              Cmunity & Econ Dvpt  20776928.069999985
14        Fish And Boat Commission         20105844.14
21                       Insurance  14347838.129999999
2           Banking and Securities  13069454.260000015
19  Historical & Museum Commission  11404598.479999997
10     Emergency Management Agency  10768091.259999998
32        State Employees' Ret Sys  10668052.290000001
3         Civil Service Commission   5726775.559999996
0                            Aging   5700945.559999992
17               Governor'S Office          4551938.02
8        Drug and Alcohol Programs  4051355.7899999996
27                        Pennvest          2158865.29
26      Municipal Retirement Board  1554522.3699999996
25            Milk Marketing Board          1275789.24
11     Environmental Hearing Board          1150835.49
23    Lieutenant Governor'S Office   827685.3300000001

### Shows, in descending order, overtime wages state agencies paid to employees â¬‡ ###

In [22]:
statesal.groupby("agency").overtime_2017.sum().reset_index().sort_values("overtime_2017", ascending=False).astype(str)

                            agency       overtime_2017
6                      Corrections   91576468.60000035
34                  Transportation   52335062.31999996
20                  Human Services   34669246.76000013
33                    State Police  30580563.689999938
24            Liquor Control Board   5328969.029999994
7             Dept Miltry/Vets Aff   4262474.690000001
22                Labor & Industry   3806418.349999994
5             Cnsvn & Natrl Resrcs   2419581.859999993
28      Probation And Parole Board  1663564.4799999986
15                 Game Commission   1478888.600000002
1                      Agriculture   797576.9799999995
14        Fish And Boat Commission   783714.4600000001
12            Environmntl Protectn   718697.6299999997
16                General Services   671351.7500000001
18                          Health  435647.94000000006
10     Emergency Management Agency  353290.61000000016
30                         Revenue           298728.07
29   Pub School Employees' Ret Sys           275618.21
21                       Insurance            268002.3
31                           State   251543.8099999999
13               Executive Offices  119140.73000000004
19  Historical & Museum Commission   82203.65000000001
8        Drug and Alcohol Programs   59703.39999999999
9                        Education   56590.08000000001
32        State Employees' Ret Sys            18594.63
27                        Pennvest  16545.809999999998
3         Civil Service Commission             4997.54
26      Municipal Retirement Board   4621.540000000001
4              Cmunity & Econ Dvpt             1770.42
2           Banking and Securities             1381.47
23    Lieutenant Governor'S Office              195.32
0                            Aging               96.01
25            Milk Marketing Board                 0.0
11     Environmental Hearing Board                 0.0
17               Governor'S Office                 0.0

### Breaks down employee salaries into pay ranges â¬‡ ###

In [28]:
actual_salary[actual_salary > 200000].count()

21

In [29]:
actual_salary[actual_salary > 100000][actual_salary < 200000].count()

2591

In [30]:
actual_salary[actual_salary > 80000][actual_salary < 100000].count()

5465

In [31]:
actual_salary[actual_salary > 60000][actual_salary < 80000].count()

16171

In [32]:
actual_salary[actual_salary > 40000][actual_salary < 60000].count()

29225

In [33]:
actual_salary[actual_salary > 20000][actual_salary < 40000].count()

20352

In [34]:
actual_salary[actual_salary < 20000].count()

14678