In [22]:
import pandas as pd

In [23]:
pd.read_csv('https://projects.publicsource.org/2018_statesalaries/state_data.csv')

,agency,last_name,first_name,middle_name,job_name,original_hire_dt,incumbent_entered_pos,separation_dt,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017
0,Aging,Laudenslager,Kathy,A,Acct 3,5/28/97,7/26/14,NaN,NaN,63785.0,62893.52,NaN,NaN
1,Aging,McDaniel,Megan,C.,Admv Asst 1,3/7/05,7/12/14,NaN,NaN,41956.0,41370.77,NaN,NaN
2,Aging,Burhannan,Rita,Gay,Admv Ofr 1,6/24/71,10/24/15,NaN,NaN,43775.0,43162.50,NaN,NaN
3,Aging,Rhodes,Janis,L,Admv Ofr 1,8/2/93,5/18/13,NaN,NaN,54690.0,53923.88,NaN,NaN
4,Aging,Schell,Trudy,L,Admv Ofr 1,9/29/75,7/21/07,NaN,NaN,45829.0,45188.26,NaN,NaN
5,Aging,Allen,Ronald,R,Admv Ofr 2,4/20/77,11/15/97,NaN,NaN,72822.0,71804.63,NaN,NaN
6,Aging,Fox,Abby,J,Admv Ofr 2,8/23/04,10/10/15,NaN,NaN,54690.0,64005.31,NaN,NaN
7,Aging,Lorah,Rebecca,D.,Admv Ofr 3,1/3/05,11/16/13,NaN,NaN,58465.0,57643.89,NaN,NaN
8,Aging,Paulus,Rose,M,Admv Ofr 4,4/18/83,7/27/13,NaN,NaN,94846.0,93522.39,NaN,NaN
9,Aging,Horner,Steven,B,Admv Ofr 5,6/12/90,11/12/16,NaN,NaN,105898.0,104420.25,NaN,NaN
10,Aging,Beers-Franklin,Tamea,Lynn,Aging Srvs Spcst,2/18/03,7/29/17,NaN,NaN,61066.0,60215.63,NaN,NaN
11,Aging,Bennett,Lindsey,Rae,Aging Srvs Spcst,6/27/16,9/16/17,NaN,NaN,54690.0,53923.88,NaN,NaN
12,Aging,Cenname,Anna Marie,E,Aging Srvs Spcst,1/8/96,NaN,4/1/17,NaN,72998.0,22392.00,NaN,50749.98
13,Aging,Cherry,Robert,John,Aging Srvs Spcst,11/8/10,9/10/16,NaN,NaN,55844.0,55063.52,NaN,NaN
14,Aging,Claroni,Rocco,L,Aging Srvs Spcst,5/20/82,10/10/17,NaN,27.96,NaN,28356.45,NaN,21110.16
15,Aging,Cree,Susan,Elaine,Aging Srvs Spcst,12/5/86,3/15/14,NaN,NaN,69653.0,68678.27,NaN,NaN
16,Aging,Deppen,Barbara,G,Aging Srvs Spcst,5/26/98,1/3/15,NaN,NaN,57174.0,56378.64,NaN,NaN
17,Aging,Dunston,Troy,D,Aging Srvs Spcst,11/20/92,5/6/17,NaN,NaN,71218.0,70227.38,NaN,NaN
18,Aging,Ehrhart,Dana,M,Aging Srvs Spcst,1/2/01,7/12/08,NaN,NaN,61066.0,54616.05,NaN,NaN
19,Aging,Gerber,Beth,Anne,Aging Srvs Spcst,3/3/14,3/3/14,NaN,NaN,55844.0,55063.51,NaN,NaN
20,Aging,Glidden,Michelle,S,Aging Srvs Spcst,5/24/04,4/29/17,NaN,NaN,62455.0,59598.39,NaN,NaN
21,Aging,Hollywood,Trula,NaN,Aging Srvs Spcst,12/15/08,6/16/14,NaN,NaN,55844.0,55063.51,NaN,NaN
22,Aging,Kell,Veronica,Lynne,Aging Srvs Spcst,12/6/10,8/26/17,NaN,NaN,54690.0,49735.50,NaN,NaN
23,Aging,Kyle,Katrina,K.,Aging Srvs Spcst,12/10/07,10/3/15,NaN,NaN,58465.0,57643.89,NaN,NaN
24,Aging,Lomax,Dowel,E,Aging Srvs Spcst,1/24/11,9/16/17,NaN,NaN,57174.0,53813.25,NaN,NaN
25,Aging,Nguyen,Uyen,P.,Aging Srvs Spcst,7/21/08,2/22/14,NaN,NaN,58465.0,57643.89,NaN,NaN
26,Aging,Rodgers,Steven,L,Aging Srvs Spcst,7/28/14,5/28/16,NaN,NaN,55844.0,55063.52,NaN,NaN
27,Aging,Rogers,Roslyn,Sylvia,Aging Srvs Spcst,5/11/87,7/13/13,NaN,NaN,83052.0,81894.38,NaN,NaN
28,Aging,Seby,Julie,Elizabeth,Aging Srvs Spcst,7/22/02,3/1/14,NaN,NaN,57174.0,56378.64,NaN,NaN
29,Aging,Toro,Carmen,M,Aging Srvs Spcst,3/30/88,11/11/17,NaN,NaN,76069.0,75009.01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89889,Transportation,Peterson,Ross,E,Wldr,3/25/13,3/25/13,NaN,NaN,34934.0,34542.38,1518.79,NaN
89890,Transportation,Polanis,Jeffrey,F,Wldr,8/29/11,8/29/11,NaN,NaN,35580.0,35095.09,1972.79,NaN
89891,Transportation,Proctor,Jeffrey,Ray,Wldr,11/19/12,11/18/13,NaN,NaN,34210.0,34552.07,5615.56,NaN
89892,Transportation,Pyo,Anthony,John,Wldr,10/1/12,4/30/16,NaN,NaN,34210.0,34282.51,1307.97,NaN
89893,Transportation,Rowan,Joseph,P,Wldr,8/12/13,8/12/13,NaN,NaN,34210.0,34246.53,4083.25,NaN
89894,Transportation,Schwartz,David,A,Wldr,5/27/99,5/27/99,NaN,NaN,43775.0,43207.26,684.78,NaN
89895,Transportation,Seeley,John,D,Wldr,6/3/02,6/3/02,NaN,NaN,41076.0,40978.15,4860.56,NaN
89896,Transportation,Sienko,Daniel,J,Wldr,6/3/02,6/3/02,NaN,NaN,41076.0,40909.38,3411.95,NaN
89897,Transportation,Slaughter,Troy,NaN,Wldr,9/18/17,9/18/17,NaN,NaN,32841.0,7555.51,172.14,NaN
89898,Transportation,Smith,Clifford,W,Wldr,3/6/95,3/6/95,NaN,NaN,47883.0,47221.50,678.00,NaN
89899,Transportation,Sonney,Eric,August,Wldr,1/24/11,1/24/11,NaN,NaN,35580.0,36220.27,7018.70,NaN
89900,Transportation,St Clair,Scott,P,Wldr,11/15/04,7/25/05,NaN,NaN,39413.0,39473.02,1827.02,NaN
89901,Transportation,Tokay,Ronald,J,Wldr,11/20/00,11/20/00,NaN,NaN,42876.0,42984.93,7988.30,NaN
89902,Transportation,Tomko,Michael,K,Wldr,3/15/82,NaN,4/1/17,NaN,48039.0,14736.00,NaN,11539.76
89903,Transportation,Tridente,Corrado,Leonard,Wldr,10/20/14,11/15/14,NaN,NaN,33506.0,33060.33,11172.40,NaN
89904,Transportation,Vranicar,Michael,D,Wldr,11/8/99,9/19/15,NaN,NaN,41076.0,40504.15,2163.26,NaN
89905,Transportation,Wagner,Patrick,J,Wldr,12/15/14,12/15/14,NaN,NaN,33506.0,33033.80,1780.85,NaN
89906,Transportation,Weikel,Ricky,R.,Wldr,3/5/07,3/5/07,NaN,NaN,37868.0,37338.75,1752.84,NaN
89907,Transportation,Whalen,Joseph,H,Wldr,1/9/06,1/9/06,NaN,NaN,39413.0,38979.81,1693.89,NaN
89908,Transportation,Williams,Joseph,T,Wldr,4/2/01,8/4/07,NaN,NaN,41956.0,41380.29,6966.66,NaN
89909,Transportation,Withers,Jacob,Richard,Wldr,10/2/17,10/2/17,NaN,16.79,NaN,5641.49,NaN,NaN
89910,Transportation,Womer,Ethan,Daniel,Wldr,10/17/16,2/18/17,NaN,NaN,32841.0,32632.68,3063.40,NaN
89911,Transportation,Woodbury,Noah,Clifton Toy,Wldr,9/8/15,9/8/15,NaN,NaN,32841.0,32373.28,1151.67,NaN
89912,Transportation,Wyne,Gary,I,Wldr,10/4/99,8/4/07,NaN,NaN,41076.0,40504.15,259.78,NaN
89913,Transportation,Zoria,Steven,A,Wldr,2/9/04,3/17/07,NaN,NaN,40254.0,40557.48,4936.62,NaN
89914,Transportation,Bickford,Robert,E,Wstewtr Trmt Plnt Opr,1/6/14,1/6/14,NaN,NaN,34210.0,33735.76,1127.73,NaN
89915,Transportation,Eckenroth,Brandon,Michael,Wstewtr Trmt Plnt Opr,5/5/14,11/12/16,NaN,NaN,32841.0,34042.50,3599.91,NaN
89916,Transportation,Clark,Dennis,L.,Wstewtr Trmt Plnt Supv,10/15/07,10/3/15,NaN,NaN,38611.0,38082.13,7609.02,NaN
89917,Transportation,Kishbaugh,Donald,G,Wstewtr Trmt Plnt Supv,8/16/04,5/26/13,NaN,NaN,52284.0,51660.01,6606.56,NaN
89918,Transportation,Weaver,Theodore,R,Wstewtr Trmt Plnt Supv,8/8/05,1/12/13,NaN,NaN,42876.0,42291.88,3140.99,NaN

In [24]:
statesal = pd.read_csv('https://projects.publicsource.org/2018_statesalaries/state_data.csv')

In [25]:
statesal.head()

,agency,last_name,first_name,middle_name,job_name,original_hire_dt,incumbent_entered_pos,separation_dt,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017
0,Aging,Laudenslager,Kathy,A,Acct 3,5/28/97,7/26/14,NaN,NaN,63785.0,62893.52,NaN,NaN
1,Aging,McDaniel,Megan,C.,Admv Asst 1,3/7/05,7/12/14,NaN,NaN,41956.0,41370.77,NaN,NaN
2,Aging,Burhannan,Rita,Gay,Admv Ofr 1,6/24/71,10/24/15,NaN,NaN,43775.0,43162.50,NaN,NaN
3,Aging,Rhodes,Janis,L,Admv Ofr 1,8/2/93,5/18/13,NaN,NaN,54690.0,53923.88,NaN,NaN
4,Aging,Schell,Trudy,L,Admv Ofr 1,9/29/75,7/21/07,NaN,NaN,45829.0,45188.26,NaN,NaN

In [26]:
statesal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89919 entries, 0 to 89918
Data columns (total 13 columns):
agency                   89919 non-null object
last_name                89919 non-null object
first_name               77288 non-null object
middle_name              68077 non-null object
job_name                 89919 non-null object
original_hire_dt         89919 non-null object
incumbent_entered_pos    79380 non-null object
separation_dt            10539 non-null object
hourly                   12132 non-null float64
base_salary              77785 non-null float64
actual_salary_2017       88504 non-null float64
overtime_2017            51853 non-null float64
leave_payout_2017        7851 non-null float64
dtypes: float64(5), object(8)
memory usage: 8.9+ MB

In [27]:
statesal.actual_salary_2017.reset_index()

       index  actual_salary_2017
0          0            62893.52
1          1            41370.77
2          2            43162.50
3          3            53923.88
4          4            45188.26
5          5            71804.63
6          6            64005.31
7          7            57643.89
8          8            93522.39
9          9           104420.25
10        10            60215.63
11        11            53923.88
12        12            22392.00
13        13            55063.52
14        14            28356.45
15        15            68678.27
16        16            56378.64
17        17            70227.38
18        18            54616.05
19        19            55063.51
20        20            59598.39
21        21            55063.51
22        22            49735.50
23        23            57643.89
24        24            53813.25
25        25            57643.89
26        26            55063.52
27        27            81894.38
28        28            56378.64
29        29            75009.01
...      ...                 ...
89889  89889            34542.38
89890  89890            35095.09
89891  89891            34552.07
89892  89892            34282.51
89893  89893            34246.53
89894  89894            43207.26
89895  89895            40978.15
89896  89896            40909.38
89897  89897             7555.51
89898  89898            47221.50
89899  89899            36220.27
89900  89900            39473.02
89901  89901            42984.93
89902  89902            14736.00
89903  89903            33060.33
89904  89904            40504.15
89905  89905            33033.80
89906  89906            37338.75
89907  89907            38979.81
89908  89908            41380.29
89909  89909             5641.49
89910  89910            32632.68
89911  89911            32373.28
89912  89912            40504.15
89913  89913            40557.48
89914  89914            33735.76
89915  89915            34042.50
89916  89916            38082.13
89917  89917            51660.01
89918  89918            42291.88

[89919 rows x 2 columns]

**Note: The above command would not work with column head 2017_actual_salary because it seems pandas does not like numbers to start column names. Tried moving date to end of column name, it worked.**

In [28]:
statesal.overtime_2017.sum()

233341250.74000004

**Note: The above command was not working, so I figured I had to change the data types of the columns. This video was helpful > https://www.youtube.com/watch?v=V0AWyzVMf54. But that still didn't work :( See below note for what I had to do because I reran the cells and it will all look like it magically worked the first time! ... Sadly, it did not, when I originally put the data in they were all dtype "object" which pretty much means "string" or "text", but we needed the columns with numerical data with decimals to be "floats".**

In [29]:
statesal.dtypes

agency                    object
last_name                 object
first_name                object
middle_name               object
job_name                  object
original_hire_dt          object
incumbent_entered_pos     object
separation_dt             object
hourly                   float64
base_salary              float64
actual_salary_2017       float64
overtime_2017            float64
leave_payout_2017        float64
dtype: object

**Note: Still not working, so in Excel, I converted columns I-M to "Number" and remove dollar signs and commas and finally got it working!**

In [30]:
actual_salary = statesal.actual_salary_2017

**Note: Above creates a variable which stores column actual_salary_2017 in it so we can run analysis on it instead of always have to type out statesal.actual_salary_2017, but we certainly could do that.**

In [31]:
actual_salary.median()

44640.509999999995

**Note: Above calculates overall employee median salary.

In [32]:
actual_salary.sum()

4097021128.1000004

**Note: Above calculates total amount spent by state of Pennsylvania on empoloyee salaries.

In [33]:
statesal.sort_values("actual_salary_2017", ascending=False).head()

,agency,last_name,first_name,middle_name,job_name,original_hire_dt,incumbent_entered_pos,separation_dt,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017
65060,Pub School Employees' Ret Sys,Grossman,James,H,Chf Invmt Ofr Psers,3/17/97,1/13/14,NaN,NaN,407826.0,387184.88,NaN,NaN
65080,Pub School Employees' Ret Sys,Spiller,Charles,J,Dep Chf Invmt Ofr Psers,5/16/94,5/16/94,NaN,NaN,335728.0,318274.50,NaN,NaN
65079,Pub School Employees' Ret Sys,Bauer,Thomas,A.,Dep Chf Invmt Ofr Psers,4/19/16,4/19/16,NaN,NaN,335728.0,317697.38,NaN,NaN
68277,State Employees' Ret Sys,Lewis,Wilbert,Bryan,Chf Invmt Ofr Sers,7/11/16,7/11/16,NaN,NaN,286534.0,285655.50,NaN,NaN
65146,Pub School Employees' Ret Sys,Devine,Robert,J,Mgng Dir Invmt Off PSERS,6/10/91,9/29/14,NaN,NaN,271062.0,257344.13,NaN,NaN

In [34]:
import pandas as pd

In [35]:
statesal.sort_values("actual_salary_2017", ascending=False)

,agency,last_name,first_name,middle_name,job_name,original_hire_dt,incumbent_entered_pos,separation_dt,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017
65060,Pub School Employees' Ret Sys,Grossman,James,H,Chf Invmt Ofr Psers,3/17/97,1/13/14,NaN,NaN,407826.0,387184.88,NaN,NaN
65080,Pub School Employees' Ret Sys,Spiller,Charles,J,Dep Chf Invmt Ofr Psers,5/16/94,5/16/94,NaN,NaN,335728.0,318274.50,NaN,NaN
65079,Pub School Employees' Ret Sys,Bauer,Thomas,A.,Dep Chf Invmt Ofr Psers,4/19/16,4/19/16,NaN,NaN,335728.0,317697.38,NaN,NaN
68277,State Employees' Ret Sys,Lewis,Wilbert,Bryan,Chf Invmt Ofr Sers,7/11/16,7/11/16,NaN,NaN,286534.0,285655.50,NaN,NaN
65146,Pub School Employees' Ret Sys,Devine,Robert,J,Mgng Dir Invmt Off PSERS,6/10/91,9/29/14,NaN,NaN,271062.0,257344.13,NaN,NaN
65147,Pub School Employees' Ret Sys,Kemp,John,B,Mgng Dir Invmt Off PSERS,5/2/94,4/12/08,NaN,NaN,270202.0,256529.63,NaN,NaN
65306,Pub School Employees' Ret Sys,Oh,Susan,E,Sr Mgr Invmt Off PSERS,6/5/95,7/31/99,NaN,NaN,245732.0,238344.77,NaN,NaN
65304,Pub School Employees' Ret Sys,Foreman,Darren,C,Sr Mgr Invmt Off PSERS,9/10/84,11/4/02,NaN,NaN,241996.0,231694.88,NaN,NaN
65058,Pub School Employees' Ret Sys,Carl,Brian,S,Chf Fin Ofr Psers,6/5/95,9/24/11,NaN,NaN,242779.0,229338.01,NaN,NaN
65303,Pub School Employees' Ret Sys,Derr,Steven,M,Sr Mgr Invmt Off PSERS,2/23/98,9/8/98,NaN,NaN,237498.0,227383.88,NaN,NaN
65301,Pub School Employees' Ret Sys,Baker,Christopher,D,Sr Mgr Invmt Off PSERS,2/23/98,2/23/98,NaN,NaN,230534.0,226640.63,NaN,NaN
47127,Human Services,Behjat,Shahla,NaN,Psychiatrist Supv,7/1/88,10/27/07,NaN,NaN,184959.0,222047.45,125160.65,NaN
65310,Pub School Employees' Ret Sys,Stalter,William,P,Sr Mgr Invmt Off PSERS,9/24/01,9/24/01,NaN,NaN,227326.0,220495.51,NaN,NaN
65305,Pub School Employees' Ret Sys,Little,Robert,E,Sr Mgr Invmt Off PSERS,2/16/99,2/16/99,NaN,NaN,221341.0,214691.63,NaN,NaN
65087,Pub School Employees' Ret Sys,Grell,Glen,R,Ex Dir Psers,1/23/95,5/1/15,NaN,NaN,215004.0,214344.00,NaN,NaN
68298,State Employees' Ret Sys,Nolan,James,G,Dep Chf Invmt Ofr SERS,6/29/15,6/29/15,NaN,NaN,213106.0,212452.50,NaN,NaN
68335,State Employees' Ret Sys,Felix,David,NaN,Portflio Mgr 2 Sers,6/17/13,2/18/17,NaN,NaN,220011.0,212196.00,NaN,NaN
65309,Pub School Employees' Ret Sys,Sheva,Joseph,W,Sr Mgr Invmt Off PSERS,8/14/00,6/10/06,NaN,NaN,220363.0,210004.16,NaN,NaN
15711,Corrections,Cooper,NaN,NaN,Corr Ofr 2,1/7/91,NaN,6/30/17,NaN,81870.0,208032.34,543.46,23986.63
65302,Pub School Employees' Ret Sys,Burton,Jeffrey,NaN,Sr Mgr Invmt Off PSERS,8/8/06,10/1/11,NaN,NaN,215610.0,204475.99,NaN,NaN
65308,Pub School Employees' Ret Sys,Shaffer,Todd,J,Sr Mgr Invmt Off PSERS,8/31/15,8/31/15,NaN,NaN,216431.0,202125.77,NaN,NaN
68304,State Employees' Ret Sys,Durbin,David,E,Ex Dir Sers,3/27/80,5/3/12,NaN,NaN,199453.0,198694.13,NaN,NaN
5116,Corrections,Noel,Paul,NaN,Chf Clncl Srvs Div Corr,1/13/14,1/13/14,NaN,NaN,205047.0,194393.25,48755.10,NaN
31885,Governor'S Office,Wolf,Thomas,W,Gov,2/15/07,1/20/15,NaN,NaN,192774.0,192651.01,NaN,NaN
68333,State Employees' Ret Sys,Meyer,Jeffrey,Alan,Mgng Dir Invmt Op SERS,9/9/13,9/9/13,NaN,NaN,199003.0,187607.40,NaN,NaN
47130,Human Services,Shah,Hansa,K,Psychiatrist Supv,7/1/85,10/20/08,NaN,NaN,184959.0,186410.13,3044.53,NaN
45801,Human Services,Cherpes,Gregory,L,Med Dir Off Dvptl Prgms,6/12/87,5/11/15,NaN,NaN,188891.0,186327.00,NaN,NaN
68336,State Employees' Ret Sys,Greenberg,Phillip,N,Portflio Mgr 2 Sers,2/21/17,2/21/17,NaN,NaN,230006.0,184322.33,NaN,NaN
33926,Human Services,Gopalani,Aziz,A,Chf Clncl Srvs Mh,7/1/82,8/17/13,NaN,NaN,184959.0,183840.15,NaN,NaN
47131,Human Services,Wildner,Ralf,Gerhard,Psychiatrist Supv,10/14/08,11/19/11,NaN,NaN,184959.0,183075.45,80173.76,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86805,Transportation,Thiede,Patrice,J,Trnspt Equip Opr A,12/11/17,12/11/17,NaN,17.86,NaN,NaN,NaN,NaN
86806,Transportation,Thoma,Kenneth,Raymond,Trnspt Equip Opr A,12/11/17,12/11/17,NaN,14.91,NaN,NaN,NaN,NaN
86814,Transportation,Thomas,Michelle,Diane,Trnspt Equip Opr A,11/12/81,12/18/17,NaN,17.86,NaN,NaN,NaN,NaN
86827,Transportation,Thumma,Shane,M,Trnspt Equip Opr A,12/18/17,12/18/17,NaN,14.91,NaN,NaN,NaN,NaN
86836,Transportation,Todd,Ashley,NaN,Trnspt Equip Opr A,12/18/17,12/18/17,NaN,17.86,NaN,NaN,NaN,NaN
86856,Transportation,Troyer,Darin,John,Trnspt Equip Opr A,12/18/17,12/18/17,NaN,14.91,NaN,NaN,NaN,NaN
86936,Transportation,Wanser,Robert,NaN,Trnspt Equip Opr A,12/26/17,12/26/17,NaN,17.86,NaN,NaN,NaN,NaN
86966,Transportation,Webb-Lippert,Kristopher,NaN,Trnspt Equip Opr A,1/3/17,NaN,1/4/17,17.51,NaN,NaN,NaN,NaN
87034,Transportation,Wills,Terry,L,Trnspt Equip Opr A,12/18/17,12/18/17,NaN,17.86,NaN,NaN,NaN,NaN
87062,Transportation,Wolff,Jeffrey,A,Trnspt Equip Opr A,4/10/88,12/26/17,NaN,14.91,NaN,NaN,NaN,NaN
87063,Transportation,Wolfgang,Jason,K,Trnspt Equip Opr A,12/11/17,12/11/17,NaN,14.91,NaN,NaN,NaN,NaN
87118,Transportation,Zahniser,Gordon,Fremont,Trnspt Equip Opr A,11/24/08,12/26/17,NaN,14.91,NaN,NaN,NaN,NaN
87120,Transportation,Zarkevics,Daryl,E,Trnspt Equip Opr A,12/14/17,12/14/17,NaN,17.86,NaN,NaN,NaN,NaN
87419,Transportation,Carrington-Setzer,Jason,S,Trnspt Equip Opr B,10/18/04,6/26/17,NaN,22.46,NaN,NaN,NaN,NaN
87774,Transportation,Freiters,Barry,E,Trnspt Equip Opr B,12/9/85,NaN,7/1/17,NaN,48039.0,NaN,NaN,119.36
87951,Transportation,Hattersley,Paul,NaN,Trnspt Equip Opr B,1/29/07,12/18/17,NaN,21.00,NaN,NaN,NaN,NaN
87958,Transportation,Hawkins,Lester,B,Trnspt Equip Opr B,11/8/99,12/14/17,NaN,21.45,NaN,NaN,NaN,NaN
88085,Transportation,Ingerick,Tony,J.,Trnspt Equip Opr B,10/3/05,10/2/16,NaN,18.47,NaN,NaN,NaN,NaN
88116,Transportation,Jones,David,NaN,Trnspt Equip Opr B,1/27/94,NaN,4/1/17,22.46,NaN,NaN,NaN,NaN
88221,Transportation,Kokoszka,Allan,J,Trnspt Equip Opr B,11/10/08,NaN,3/17/17,NaN,40039.0,NaN,NaN,235.81
88227,Transportation,Kozlosky,Andrew,J,Trnspt Equip Opr B,9/29/03,4/25/09,NaN,NaN,40900.0,NaN,NaN,NaN
88369,Transportation,Malizia,Floyd,T,Trnspt Equip Opr B,7/12/93,NaN,2/24/17,NaN,48039.0,NaN,NaN,-1005.24
88411,Transportation,McCarty,Ronald,A,Trnspt Equip Opr B,12/19/11,11/14/15,NaN,NaN,37594.0,NaN,NaN,NaN
88446,Transportation,Mckinley,Dale,D,Trnspt Equip Opr B,4/26/99,3/4/17,NaN,21.35,NaN,NaN,NaN,NaN
88823,Transportation,Rosenhoover,Jerome,G,Trnspt Equip Opr B,9/29/97,NaN,1/6/17,NaN,41761.0,NaN,NaN,17805.69
89201,Transportation,Valick,Jan,S,Trnspt Equip Opr B,1/21/85,NaN,4/1/17,24.56,NaN,NaN,NaN,NaN
89214,Transportation,Veitz,Martin,L,Trnspt Equip Opr B,2/14/94,12/11/17,NaN,23.93,NaN,NaN,NaN,NaN
89227,Transportation,Vresk,James,G,Trnspt Equip Opr B,4/5/99,NaN,3/30/17,NaN,41761.0,NaN,NaN,15884.19
89578,Transportation,Spatara,Christopher,NaN,Trnspt Equip Opr Spcst,11/1/10,11/26/16,NaN,19.22,NaN,NaN,NaN,NaN
89870,Transportation,Kirst,Daniel,P,Wldr,12/26/17,12/26/17,NaN,16.79,NaN,NaN,NaN,NaN